[submodule "ThinkOnGraph"]
	path = ThinkOnGraph
	url = https://github.com/carprefer/ThinkOnGraph
[submodule "GRetriever"]
	path = GRetriever
	url = https://github.com/carprefer/GRetriever
[submodule "ReasoningOnGraphs"]
	path = ReasoningOnGraphs
	url = https://github.com/carprefer/ReasoningOnGraphs
